# Q1 - print Statement

In [1]:
print("HOPE AI")

HOPE AI

# Q2 - Get input

In [3]:
inputString=input("Enter your institute name?")
print("Your institute name:", inputString)

Enter your institute name? HOPE AI

Your institute name: HOPE AI

# Q3 - Get inputs

input("Enter your name:")
input("Enter your age:")
input("Enter your school name:")
input("Enter your degree:")

# Q4 - Addition

In [13]:
a=43
b=34
add=(a+b)
print("a=", a)
print("b=", b)
print("add=", add)

a= 43
b= 34
add= 77

# Q5 - Subtraction

In [33]:
a=43
b=34
subtraction=(a-b)
print("a=", a)
print("b=", b)
print("subtraction=", subtraction)

a= 43
b= 34
subtraction= 9

# Q6 - Multiplication

In [42]:
a=63
b=97
mulitply=(a*b)
print("a=", a)
print("b=", b)
print("multiplication=", mulitply)

a= 63
b= 97
multiplication= 6111

# Q7 - Float Division

In [23]:
a=76
b=31
division=(a/b)
print("a=", a)
print("b=", b)
print("Division=", division)
print(f"Division={division:.2f}")

a= 76
b= 31
Division= 2.4516129032258065
Division=2.45

# Q8 - Floor division

In [28]:
#scenario 1
number1=9
number2=5
floorDivision1=(number1//number2)
print("#Scenario 1.....")
print("number1=", number1)
print("number2=", number2)
print("Floor Division1=", floorDivision1)

#scenario 2
number3=-7
number4=3
floorDivision2=(number3//number4)
print("#Scenario 2.....")
print("number3=", number3)
print("number4=", number4)
print("Floor Division2=", floorDivision2)

#scenario 3
number5=7
number6=-3
floorDivision3=(number5//number6)
print("#Scenario 3.....")
print("number5=", number5)
print("number6=", number6)
print("Floor Division3=", floorDivision3)

#scenario 4
number7=-7
number8=-3
floorDivision4=(number7//number8)
print("#Scenario 4.....")
print("number7=", number7)
print("number8=", number8)
print("Floor Division4=", floorDivision4)

#Scenario 1.....
number1= 9
number2= 5
Floor Division1= 1
#Scenario 2.....
number3= -7
number4= 3
Floor Division2= -3
#Scenario 3.....
number5= 7
number6= -3
Floor Division3= -3
#Scenario 4.....
number7= -7
number8= -3
Floor Division4= 2

# Q9 - Modulo

In [30]:
number1=-9
number2=5
moduloResult=number1%number2
print("The modulo result:", moduloResult)
anotherFormula=number1-(number2 * (number1//number2))
print("Another modulo result:", anotherFormula)

The modulo result: 1
Another modulo result: 1

# q10 - power

In [50]:
#scenario 1
number1=2
number2=3
result1=(number1**number2)
print("#Scenario 1.....")
print("number1=", number1)
print("number2=", number2)
print("Result 1=", result1)

#scenario 2
number3=2
number4=-3
result2=(number3**number4)
print("#Scenario 2.....")
print("number3=", number3)
print("number4=", number4)
print("Result2=", result2)

#scenario 3
number5=27
number6=2/3
result3=(number5**number6)
print("#Scenario 3.....")
print("number5=", number5)
print("number6=", number6)
print("Result3=", result3)

#scenario 4
number7=5
number8=0
result4=(number7**number8)
print("#Scenario 4.....")
print("number7=", number7)
print("number8=", number8)
print("Result4=", result4)

#Scenario 1.....
number1= 2
number2= 3
Result 1= 8
#Scenario 2.....
number3= 2
number4= -3
Result2= 0.125
#Scenario 3.....
number5= 27
number6= 0.6666666666666666
Result3= 8.999999999999998
#Scenario 4.....
number7= 5
number8= 0
Result4= 1