In [41]:
# Multiple Variables
name = "Alice"
age = 25
city = "New York"
print(name,age,city) # default sep(seprator) character is space
print(name, age, city, sep="-#") # replaces the comma with whatever the character we give in 'sep' parameter
print(name,age,city, end=" #Test end parameter...")

Alice 25 New York
Alice-#25-#New York
Alice 25 New York #Test end parameter...

In [49]:
for i in range(1,6):
    print (i,end="**") # default end value is \n. it repalces whatever the character we give in 'end' parameter

1**2**3**4**5**

In [51]:
print("Python", end='@') # default end value is \n. it repalces whatever the character we give in 'end' parameter
print("GeeksforGeeks")

Python@GeeksforGeeks

# f-strings - Formatted string. It is used to inject/insert values directly into the string

In [63]:
name="Karthik"
age=25
print(f"Hello, my name is {name} and my age is {age}")
print(f"Hello, my name is {name} and my age is {age}", end="...")

Hello, my name is Karthik and my age is 25
Hello, my name is Karthik and my age is 25...